* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(209, 232, 255);
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin: 0px 0px;
    background-color: rgb(249, 250, 253);  
}

.header {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    
}

h1 {
    margin-left: 20px;
    font-size: x-large;
}

.language-div {
    display: flex;
    align-items: center;
    background-color: rgb(234, 235, 236);
    
}

.language {
    padding: 8px;
    background-color: rgb(194, 202, 218);
    border: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(99, 99, 99, 0.43);
    
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}

.login-section {
    align-content: center;
    padding: 20px;
    width: 33%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.905);
    border-radius: 8px;
    box-shadow: 1px 10px 15px rgba(58, 58, 58, 0.3);
}

#enlace-aside {
    padding: 10px;
    width: 25%;
    background-color: whitesmoke;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.logo-barra {
    width: 40px;
}

.logo-text a img{
    vertical-align: middle;
}

#enlace-aside ul {
    list-style-type: none;
}

#categorias-section {
    width: 25%;
    padding: 20px;
    margin-right: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}

#categorias-section button {
    border: none;
}

.articulo-comentarios {
    margin-right: 10px;
}

#articulos-section{
    width: 50%;
    border-radius: 5px;
    background-color: whitesmoke;
}

.articulo {
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.save-image {
    width: 30px;
}

.articulo-main {
    display: flex;
    flex-direction: row;
}

.articulo-img {
    width: 50px;
}

.login-section h2 {
    margin-bottom: 4%;
    text-align: center;
    
}

.buscar-icon {
    position: absolute;
    transform: translateX(50%) translateY(50%);
    max-width: 20px;
    margin-right: 10px;
}

.buscar-box {
    padding: 10px;
}

.buscar-input {
    border: 1 px solid black;
    height: 40px;
    width: 200px;
    padding: 10px 10px 10px 40px;
}

.articulo-header {
    display: flex;
    flex-wrap: wrap;
}

.articulo-header .rating {
    width: 50px;
}


.grupo-checkbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.grupo-checkbox label {
    display: block;
}

.articulo-resena {
   align-content: space-around;
}
.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section label {
    margin-bottom: 8px;
}

.login-section form input[type="text"],
.login-section form input[type="password"] {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid black;
    
}

.login-section form button {
    padding: 8px;
    margin-top: 8px;
    cursor: pointer;
    border: 0.5px solid rgb(157, 156, 156);
    margin-bottom: 8px;
    background-color: rgb(194, 202, 218);
    border-radius: 8px;
    
}

.register {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.register button {
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(194, 202, 218);
    border: 0.5px solid rgb(157, 156, 156);
    cursor: pointer;
    align-content: center;
    border-radius: 8px;
    
}

.greet-section {
    padding: 20px;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.905);
    border-radius: 8px;
    box-shadow: 1px 10px 15px rgba(58, 58, 58, 0.3);
}

.greet-div {
    text-align: center;
    
}


.carousel {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-image-placeholder {
    height: 300px;
    margin-left: 8px;
    margin-right: 8px;
    align-content: center;
    justify-content: center;
}

.carousel-image-placeholder img {
    max-width: 13cm;
    max-height: 13cm;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(146, 146, 146, 0.448);
}

.carousel-btn {
    background: rgb(163, 180, 210);
    border:none;
    padding: 8px;
    border-radius: 2px;
    height: 20%;
    cursor: pointer;
    margin-top: 12%;
    box-shadow: 0px 0px 5px rgba(99, 99, 99, 0.43);
}

footer {
    text-align: center;
    padding: 8px;
    margin: 2px 0px;
    background-color: rgba(255, 255, 255, 0.893);
}

.copyrights{
    text-align: center;
    margin-left: 450px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.footer-content .redes-sociales img {
    width: 25px;
    margin: 0px 10px;
}
.registro-sect {
    align-content: center;
    padding: 20px;
    border: 1px solid rgb(106, 132, 159);
    width: 50%;
    margin-right: 480px;
    background-color: rgb(249, 250, 253);
    border-radius: 8px;
    box-shadow: 1px 10px 15px rgba(58, 58, 58, 0.3);
}

.registro-sect h2 {
    text-align: center;
    
}

.registro-sect form {
    display: flex;
    flex-direction: column;
}

.registro-sect form input[type="text"],
.registro-sect form input[type="password"]{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    width: 45%;
}

.nombre-apellido{
    display: grid;
    grid-template-columns: 60% 60%;
    gap:10px;
}


@media screen and (max-width: 1000px) {
    main {
        flex-direction: column; 
    }

    .responsive-box {
        margin-bottom: 10px;
    }

    #enlace-aside {
        width: 100%; 
    }

    #categorias-section {
        width: 100%;    
    }

    #articulos-section {
        width: 100%;     
    }

    .grupo-checkbox {
        grid-template-columns: repeat(2, 1fr);
    }

    .enlace-aside {
        display: flex;
    }
}
