.header-right {
    display: flex;
    align-items: center;
}

.header-button {
    margin-right: 5px;
    padding: 8px;
    background-color: rgb(194, 202, 218);
    border: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(99, 99, 99, 0.43);
}

.header-container {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buscar-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    
}

.logo-barra {
    width: 40px;
}

.logo-text a img{
    vertical-align: middle;
}

ul.navbar {
    list-style-type: none;
    display: grid;
    
}

ul.navbar li {
    margin: 10px 0px;
}

ul.navbar li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle; 
}

#enlace-aside {
    padding: 20px;
    width: 25%;
    background-color: whitesmoke;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

/* categorias */
 
#categorias-section {
    width: 25%;
    padding: 20px;
    margin-right: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}

#categorias-section button {
    border: none;
}

input.buscar-input {
    width: 100%;
    margin-bottom: 10px;
}

button.buscar-button {
    width: 100%;
}


/* articulo */
.articulo-comentarios {
    margin-right: 10px;
}

#articulos-section{
    width: 50%;
    border-radius: 5px;
    background-color: whitesmoke;
}

.articulo {
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.save-image {
    width: 30px;
}

.articulo-main {
    display: flex;
}

.articulo-img {
    width: 50px;
}

.articulo-header {
    display: flex;
    flex-wrap: wrap;
}

.articulo-header .rating {
    width: 50px;
}


.grupo-checkbox {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.grupo-checkbox label {
    display: block;
}

.articulo-resena {
    align-content: space-around;
}

.articulo-resena {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}

/* laura */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(209, 232, 255);
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin: 0px 0px;
    background-color: rgb(249, 250, 253);  
}

.header {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 40px;

}

h1 {
    margin-left: 20px;
    font-size:xx-large;
}

.language-div {
    display: flex;
    align-items: center;
    background-color: rgb(234, 235, 236);

}

.language {
    padding: 8px;
    background-color: rgb(194, 202, 218);
    border: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(99, 99, 99, 0.43);

}

main {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.login-section {
    align-content: center;
    padding: 20px;
    width: 33%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.905);
    border-radius: 8px;
    box-shadow: 1px 10px 15px rgba(58, 58, 58, 0.3);
}

.login-section h2 {
    margin-bottom: 4%;
    text-align: center;

}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section label {
    margin-bottom: 8px;
}

.login-section form input[type="text"],
.login-section form input[type="password"] {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid black;

}

.login-section form button {
    padding: 8px;
    margin-top: 8px;
    cursor: pointer;
    border: 0.5px solid rgb(157, 156, 156);
    margin-bottom: 8px;
    background-color: rgb(194, 202, 218);
    border-radius: 8px;

}

.register {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.register button {
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(194, 202, 218);
    border: 0.5px solid rgb(157, 156, 156);
    cursor: pointer;
    align-content: center;
    border-radius: 8px;

}

.greet-section {
    padding: 20px;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.905);
    border-radius: 8px;
    box-shadow: 1px 10px 15px rgba(58, 58, 58, 0.3);
}

.greet-div {
    text-align: center;

}

.carousel {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-image-placeholder {
    height: 300px;
    margin-left: 8px;
    margin-right: 8px;
    align-content: center;
    justify-content: center;
}

.carousel-image-placeholder img {
    max-width: 13cm;
    max-height: 13cm;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(146, 146, 146, 0.448);
}

.carousel-btn {
    background: rgb(163, 180, 210);
    border:none;
    padding: 8px;
    border-radius: 2px;
    height: 20%;
    cursor: pointer;
    margin-top: 12%;
    box-shadow: 0px 0px 5px rgba(99, 99, 99, 0.43);
}

/*Aquí comienza el footer*/ 

footer {
    text-align: center;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.893);
}

.copyrights{
    text-align: left;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content:space-between ;
}

.redes-sociales img {
    width: 25px;
}

/*Aquí comienza la página de registro*/

.registro-sect {
    align-content: center;
    padding: 3%;
    width: 49%;
    background-color: rgb(249, 250, 253);
    border-radius: 8px;
    box-shadow: 1px 10px 15px rgba(58, 58, 58, 0.3);
}

.registro-sect h2 {
    text-align: center;    
}

.registro-sect form {
    display: flex;
    flex-direction: column; 
}

.registro-sect form input[type="text"],
.registro-sect form input[type="password"]{
    padding: 2%;
    border-radius: 8px;
    border: 1px solid black;
    width: 95%;
    margin-top: 2%;

}
.registro-sect form input[placeholder="nombre"],
.registro-sect form input[placeholder="apellido"]{
    padding: 4%;
}


.registro-sect form input[type="date"]{
    padding:4%;
    border-radius: 8px;
    border: 1px solid black;
}

.registro-sect form input[placeholder="login"],
.registro-sect form input[placeholder="password"]{
    padding:4%;
    border-radius: 8px;
    border: 1px solid black;
}

.checkbox{
    font-size:90%;
}
.registro-sect button{
    padding:1%;
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgb(194, 202, 218);
    margin-top: 5%;
}
.login-password {
    display: flex;
    gap:4%;
    width: 79%;
    margin-top: 2%;
}

.fecha{
    display:flex;
    flex-direction: column;
    width: 93%;
}

.img-usuario{
    width: 10%;
    height: 100%;
}

.row-foto {
    display: flex;
    align-items: center;
    gap: 10%; 
}

.perfil{
    display: flex;
    flex-direction: row;
    row-gap: 10%;
}

.fecha-perfil{
    display: flex;
    align-items: center;
    gap: 10%;
}

.registro-sect form input[type="file"]{
    display: none;
} 
.texto-foto{
    border-radius: 8px;
    border: 1px solid black;
    padding: 1%;
    background-color: rgb(255, 255, 255);
    text-align: center;  
    width: 90%;
    padding: 4%;
    text-align: center;
}

.texto-foto:hover {
    background-color: rgb(100, 99, 99);
    
}

.cookies {
    align-content: center;
    padding: 3%;
    width: 49%;
    background-color: rgb(249, 250, 253);
    border-radius: 8px;
    box-shadow: 1px 10px 15px rgba(58, 58, 58, 0.3);
    font-size: small;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column; 
    }

    .registro-sect {
        width: 100%;
        margin-bottom: 10px;
    }

    .responsive-box {
        margin-bottom: 10px;
    }

    #enlace-aside {
        width: 100%; 
    }

    ul.navbar {
        grid-template-columns: repeat(4, 1fr);
    }

    ul.navbar li {
        margin: 0px 15px;
    }

    .grupo-checkbox {
        grid-template-columns: repeat(3, 1fr);
    }

    #categorias-section {
        width: 100%;    
    }

    #articulos-section {
        width: 100%;     
    }

    .enlace-aside {
        display: flex;
    }

    .buscar-box {
        display: flex;
        flex-direction: row;
    }

    .login-password {
        flex-direction: column;
    }

    .cookies {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
    }

    .redes-sociales img {
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    .buscar-box {
        display: flex;
        flex-direction: column;
    }

    ul.navbar {
        grid-template-columns: repeat(2, 1fr);
    }

    .grupo-checkbox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}